:root {
    --primary-blue: #9cb0d9;
    --primary-gray: #7a7a7a;
    --primary-orange: #f58874;
    --primary-purple: #d9b9d8;
    --primary-green: #bed8b1;
    --primary-yellow: rgb(254, 194, 130);
  }
  .clr {
    clear: both;
  }
  
html{
  scroll-behavior: smooth;
  min-width: 1350px;
}
.aside{
  min-width:260px
}
body {
  min-width: 1350px;
}
/* @media only screen and (max-width:500px){
  html{
    display: none;
  }
} */

  em {
    background-color: var(--primary-orange);
    color: white;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--primary-orange);
  }
  H1 {
    font-family: "verdana";
    color: var(--primary-gray);
    animation: glitch 5s 5s infinite;
  }
  .fab {
    color: rgb(34, 33, 33);
  }
  body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    top: 0;
  }
  .sidebar {
    float: left;
    display: flex;
    flex-direction: column;
    
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-blue);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .sidebar .name {
    padding: 10px;
    position: relative;
    top: 7vh;
    letter-spacing: 2px;
    color: rgb(58, 58, 58);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-orange);
  }
  .sidebar .name h2 {
    padding-left: 20%;
    font-size: xx-large;
  }
  .sidebar .name p {
    font-size: x-small;
    color: var(--primary-gray);
  }
  
  .sidebar ul {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    list-style-type: square;
    top: 14vh;
    padding: 0;
  }
  .sidebar li {
    padding: 25px;
    font-size: medium;
    background-color: #9b9b9b;
    border-bottom: 1px rgb(56, 56, 56) solid;
    border-left: 5px rgb(68, 68, 68) solid;
    text-transform: uppercase;
  }
  .sidebar li:hover {
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    border: 1px white solid;
  }
  
  .sidebar a {
    text-decoration: none;
    color: rgb(58, 58, 58);
  }
  .view-code{
    opacity: 70%; 
    position: relative;
    font-size: small;
    width: 175;
    top: 13vh;
    margin: 10 auto;
    text-align: center;
  }
  .view-code:hover{ 
    text-decoration: underline;
  }

  .main{
      display: flex;
      flex-direction: column;
    
    }
  .tabs{
      background-color:#ffff;
      padding: 6.5%;
      text-align: center;
  }
  .social {
    position: relative;
    top: 16vh;
    align-self: center;
    gap: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   
  }
  #sectionHome{
    margin-bottom: 50px;

  }
  .hello-there{
    font-weight: 300;
  }
  .content {
    float: right;
    position: relative;
    margin-right: 25px;
    width: 70%;
    height: 100%;
  }
  
  .title-head {
    position: relative;
    text-align: center;
    justify-content: center;
  }
  .box {
    display: grid;
    margin: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;
    position: relative;
    top: 50px;
    width: 100%;
    grid-gap: 20px;
    overflow: hidden;
    margin-bottom: 50px;
  }

  
  .showcase {
    background-image: url("/img/drewsketchnobck.png");
    background-repeat: no-repeat;
    background-position: center -220px;
    background-size: 900px;
    grid-column: 2 /4;
    grid-row: 2/4;
  }
  .c:nth-child(1) {
    grid-column: 1/3;
    background-image: url("/img/logo1.png");
    background-position: center center;
  }
  .c:nth-child(2) {
    grid-column: 3/5;
    background-image: url("/img/logo2.png");
    background-position: center center;
  }
  
  .c:nth-child(3) {
    grid-row: 2/4;
    background-image: url("/img/logo3.png");
    background-position: center center;
    transform: translateY(30px);
  }
  
  .c:nth-child(4) {
    grid-row: 2/4;
    background-image: url("/img/logo4.png");
    background-position: center center;
  }
  @media screen and (max-width:1000px) {  
    .c:nth-child(3), .c:nth-child(4) {
      display: none;
    }
  }
  @media screen and (max-width:1000px) {  
    .showcase  {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  
  .about-tag {
      height: 120px;
  
  }
  .about-tag-flag {
    width: 150px;
    height: 65px;
    padding-top: 2px;
    float: left;
    background-color: var(--primary-orange);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  .about-tag-line{
    width: 100%;
    height: 3px; 
    background-color: #f58874;
  }
  .about-content{
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 80px;
    line-height: 1.6;
  }

  .skills-tag{
    height: 120px;
  }
  .skills-tag-flag {
    width: 150px;
    height: 65px;
    padding-top: 2px;
    float: right;
    background-color: var(--primary-blue);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  .skills-tag-line{
    width: 100%;
    height: 3px; 
    background-color:var(--primary-blue)
  }
  .skills {
    height: 700px;
  }

.projects-tag {
    height: 120px;

}
.projects-tag-flag {
  width: 150px;
  height: 65px;
  padding-top: 2px;
  float: left;
  background-color: var(--primary-orange);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.projects-tag-line{
  width: 100%;
  height: 3px; 
  background-color: #f58874;
}
.projects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .projects {
    display: flex;
    flex-direction: column;
    height: auto;
  }




  .contact{
    height: 500px;
    margin-top: 75px;
  }
 
 .contact-box{
   padding: 10px;
   width: 500px;
   background-color: #fff;
   box-shadow: 0 0 10px 0 rgb(212, 212, 212);
   margin: auto;
   margin-bottom: 50px;
   top: 100px;
   position: relative;
   margin-bottom:100px;
 }
  .input-field{
    width: 400px;
    height: 30px;
    margin-top: 5px ;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    border: 1px solid#777;
    border-radius: 14px;
  }
  .submit{
    margin: 5px;
  }
  .skill-graphic {
    float: left;
    left: 20%;
    height: 350px;
    position: 50px;
    width: 8px;
    background-color: var(--primary-gray);
    border-radius: 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }
  .skill-graphic:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  .skills-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    right: 10%;
    width: 90%;
    padding-top: 10px;
    row-gap: 25px;
    height: auto;
    height: 400px;
    margin-bottom: 50px;
  }
  .Education {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    gap: 25px;
  }
  
  .logo-usd {
    background-image: url("/img/usd-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }
  .major ul{ 
    display: flex;
    flex-direction: column;
    gap: 6px;
    
  
  }
  .major ul li { 
    text-align: left;
  }
  .major {
    flex-grow: 1;
    background-color: #f0f0f0;
    
  }
  .grid-item {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }

  .skills-skills ul {
  list-style-type: small "/";
  height: 120px ;
  display: grid;
  grid-template-columns: 33% 33% 33% ; 
  color: #646464;
  margin-left: 15%;
  justify-items:left;
  max-width: 75%;
  }
  
  .tabs h1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  .tabs h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #7a7a7a;
  }

  .odd-tag {
    width: 150px;
    height: 65px;
    padding-top: 2px;
    position: absolute;
    right: 10%;
    background-color: var(--primary-blue);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 500px;
    border: 1px dashed blue;
    background-color: #ffff;
   
  }
  .contact-tag {
    
    width: 150px;
    height: 65px;
    padding-top: 2px;
    background-color: var(--primary-orange);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  
  
  .odd-break{
    width: 80%;
    height: 3px;
    margin-left: 10%;
    background-color: var(--primary-blue);
  }
  
  .con {
    background-color: #f58874;
  }