.grid{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(12, 1f);
    grid-gap:20px;
    height: 300px;
    width: 100%;
    filter: blur(2px);
    }
    .grid-1{
        background-color: #f8f9fc;
        grid-column:  1 / span 3 ;
        grid-row: 1 /  6;   
    }
    .grid-2{ 
        grid-column:  4 / span 12 ;
        grid-row: 5 /  6;
        background-color:#f8f9fc;
    
    }
    .grid-3{
        background-color: #f8f9fc;
        grid-column:  4 / span 12 ;
        grid-row: 1 /  5;
    }
    .caption{
        top: -155%;      
        z-index: 9;
        width: 250px;
        border: 3px solid #b3b3b3;
        padding: 5px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .caption p{
        margin: 5px;
      }
      .title{
        top: -160%;      
        left: 5px;
        margin-bottom: 18px;
        width: 100%;
        z-index: 9;
        font-style: italic;
        border-radius: 7px;
        background-color: rgba(254, 194, 130, .8);
      }
      .title h2 {
        margin: 0;
        padding: 5px;
      }

      .project-right{
        position: absolute;
        display: inline;
        float: right;
        top: 55px;
        left: 57%;
      }
      .project-left{
        position: relative;
        float: left;
        width: 300px;
        top: 40px;
        left: 5%; 
      }

a{
  color: black;
}

.Iowa{
    height:300px;
    width: 500px;
    align-items: center;
    width: 75%;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

.Iowa-img{
    position: relative;
    z-index: 9;
    height: 200px;
    width:250px ;
    opacity: .9;
    filter: brightness(90%);
    background-size:800px ;
    background-image: url('/img/Iowa.jpg')  ;
    background-position: -50px -30px;
    box-shadow: inset 0px 0px 20px 10px rgba(170, 170, 170, 0.6), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease;
    opacity: .9;
  }

.Iowa-img:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 80px 0px;
  background-position: -50px -15px;
  background-size:380px ;
  box-shadow: inset 0px 0px 20px 10px rgba(117, 117, 117, 0.9), rgba(0, 0, 0, 0.35) 0px 10px 25px;
  
}
.react-redux-firebase{
  
  height:300px;
  width: 500px;
  align-items: center;
  width: 75%;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
}

.react-redux-firebase-img{
  position: relative;
    z-index: 9;
    height: 175px;
    width:270px ;
    opacity: .9;
    filter: brightness(90%);
    background-size:375px ;
    background-image: url('/img/message-board.jpg')  ;
    background-position: -50px 0px;
    box-shadow: inset 0px 0px 5px 5px rgba(170, 170, 170, 0.6), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.react-redux-firebase-img :hover{
  cursor: pointer; 
}
.img-gen-img{
  position: relative;
    z-index: 9;
    height: 175px;
    width:270px ;
    opacity: .9;
    filter: brightness(90%);
    background-size:350px ;
    background-image: url('/img/imggen-showcase.png')  ;
    background-position: -50px -10px;
    box-shadow: inset 0px 0px 5px 5px rgba(170, 170, 170, 0.6), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-gen-img :hover{
  cursor: pointer;
}
.calendar-img{
  position: relative;
  z-index: 9;
  height: 170px;
  width:278px ;
  opacity: .9;
  filter: brightness(90%);
  background-size:280px ;
  background-position: 0px -55px;
  background-image: url('/img/calendar.jpg');  
}

.react-quiz{
  height:300px;
  width: 500px;
  align-items: center;
  width: 75%;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
}
.react-quiz .grid{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(12, 1f);
    grid-gap:20px;
    height: 300px;
    width: 100%;
    filter: blur(2px);
}
.react-img{
  position: relative;
  z-index: 9;
  height: 200px;
  width:250px ;
  background-image: url('/img/quiz-image.jpg')  ;
  opacity: .9;
  filter: brightness(90%);
  background-size:350px ;
  background-position: -50px -30px;
  box-shadow: inset 0px 0px 20px 2px rgba(170, 170, 170, 0.6), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: .9;
  cursor: pointer;
}

.game-of-life{
    height:300px;
    width: 500px;
    align-items: center;
    width: 75%;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}
.game-of-life-img{
    position: relative;
    z-index: 9;
    height: 200px;
    width:250px ;  
    
    background-image: url('/img/game-of-life-static-img.jpg');
    background-position: center;
    background-size:240px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .1s ;
   
  }

  .game-of-life-img:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 80px 0px;
    background-image: url('/img/glider-gun.gif');  
  }

  
.website-clone{
    height:300px;
    width: auto;
    align-items: center;
    width: 75%;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.netflix-clone-img{
    position: relative;
    z-index: 9;
    height: 140px;
    width: 260px ;
    opacity: .9;    
    background-image: url('/img/NetflixClone.png');
    background-position: center;
    background-size:280px ;
    box-shadow: rgba(76, 76, 78, 0.2) 0px 10px 35px 0px;
    transition: all 2s ease;
   
  }

 .website-clone-postioning{
     top: 100px;
     left: 58%;
     width: 250px;  
     margin:auto; 
 }